<div class="container-fluid main-container">
  <%= render "share/admins/admin_navbar" %>
  <div class="col-md-10 content">
    <div class="panel panel-default" id="height-600">
      <div class="panel-heading">
        <%= t "word" %>
      </div>
      <div class="row">
        <%= form_for [:admin, @word] do |f| %>
          <div class="col-md-4" id="height-500">
            <div class="div1-image-word-edit">
              <div class="div2-image-word-edit">
                <%= image_tag @word.picture.url, size:
                  Settings.size_picture_words_edit if @word.picture? %>
              </div>
            </div>
          </div>
          <div class="col-md-4" id="height-600">
            <h2><%= t "word-edit" %></h2>
            <%= render "share/error_messages", object: @word %>
            <%= f.text_field :title, placeholder: t("place_word") %></br>
            <span class="picture">
              <%= f.file_field :picture,
                accept: "image/jpeg,image/gif, image/png" %>
            </span>
            <%= f.fields_for :answers do |ff| %>
              <span class="fields">
                <%= render "answer_fields", f: ff %>
              </span>
            <% end %>
            <%= link_to_add_fields "Add answer", f, :answers %>
            <%= hidden_field_tag "at-least-two-answers-msg",
              t("required-two-answers") %>
            <%= f.submit t("edit") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
