<div class="container-fluid main-container">
  <%= render "share/admins/admin_navbar" %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t "word" %>
        <%= form_tag admin_words_path, method: :get, role: "search" do %>
          <%= text_field_tag :search_title, params[:search_title],
            placeholder: t("search") %>
          <button class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        <% end %>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div id="height150">
              <div class="but-add-del-show-category">
              </div>
              <div class="div-name-admin-content">
                <div class="list"></div>
              </div>
              <div class="but-add-del-show-category">
              </div>
              <div class="div1-admin-content">
                <div class="div2-admin-content">
                  <%= render "admin/categories/wordslist" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
