<div class="show_container">
  <div class="profile col-lg-6 col-sm-6">
    <div class="card hovercard">
      <div class="card-background"></div>
      <div class="useravatar">
        <%= image_tag @user.avatar.url if @user.avatar? %>
      </div>
      <div class="card-info">
        <span class="card-title"><%= @user.name %></span>
      </div>
    </div>

    <div class="btn-pref btn-group btn-group-justified btn-group-lg"
      role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" id="favorites" class="btn btn-default"
          data-toggle="tab">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <div class="hidden-xs"><%= t "avatar" %></div>
        </button>
      </div>

      <div class="btn-group" role="group">
        <button type="button" id="following" class="btn btn-default"
          data-toggle="tab">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <div class="hidden-xs">
          </div>
        </button>
      </div>
    </div>

    <div class="follow">
      <%= render "share/stats" %>
    </div>

    <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div-button-show-user">
  <div class="show_word" >
    <%= link_to "" do %>
      <button class="btn btn-dark icon-revealed">
        <span class="glyphicon glyphicon-cloud-download"></span>
        <p><%= t :listword %></p>
      </button>
    <% end %>
  </div>

  <div class="do_lesson" >
    <%= link_to "" do %>
      <button class="btn btn-dark icon-revealed">
        <span class="glyphicon glyphicon-cloud-download"></span>
        <p><%= t :dolesson %></p>
      </button>
    <% end %>
  </div>
</div>
<div class="form-inline center">
  <%= render "share/filter_word" %>
</div>

<div class="div-content-show-user">
  <div class="full-div-content-show-user">
    <div class="panel-heading" id="head-div-content-show-user">
      <h4><%= t :mylesson %></h4>
    </div>
    <div class="div-table-my-lesson">
      <div class="content-table-my-lesson">
        <% @word.each do |f| %>
          <%= render "word" , f: f %>
        <% end %>
      </div>
      <div class="div-will-paginate-my-lesson">
        <center><%= will_paginate @word %></center>
      </div>
    </div>
  </div>
</div>
