<div class="container-fluid main-container">
  <%= render "share/admins/admin_navbar" %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t "category" %>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div id="height150">
              <div class="but-add-del-show-category">
                <%= link_to new_admin_word_path(category_id:
                  @category.id) do %>
                  <button id="button-add-new-words" class="btn btn-circle">
                    <%= t :add_new_word %>
                  </button>
                <% end %>
              </div>
              <div class="div-name-admin-content">
                <h4><%= @category.name %></h4>
                <div class="list"></div>
              </div>
              <div class="but-add-del-show-category">
                <%= link_to  admin_category_path(@category.id),
                  method: :delete, data: {confirm: t("delete_sucess")} do %>
                  <button id="button-delete-category"
                    class="btn btn-circle btn-danger">
                    <%= t :del %>
                  </button>
                <% end %>
              </div>
              <div class="div1-admin-content">
                <div class="div2-admin-content">
                  <%= render "wordslist" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
