<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to t("admin"), "#", class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("logout"), "#", class: "btn btn-default btn-outline btn-circle" %></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to t("fels"), "#", class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("about"), about_path %></li>
          <% if logged_in? %>
            <li><%= link_to t("logout"), logout_path, method: "delete", 
              class: "btn btn-default btn-outline btn-circle" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
